body{
    width: 100%;
    height: 100vh; 
    font-family: 'Nanum Gothic', sans-serif;
}

ol, ul, li {
    list-style: none;
}

a{
    text-decoration: none;
}

.hanna * {
    font-family: 'Hanna', fantasy;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 5% auto;        
    width: 100%;
    height: 100vh;
}

.left {
    background-color: #eeeeee;
}

.left-header{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.right {
    grid-area: "terminal";
    background-color: teal;
}

.question {
    margin-bottom: 10px;
}

.content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 20% auto;
    background-color: black;
}

#grading_results {
    color: red;
}

#question_content {
    padding-left: 30px;
}

#question_header {
    padding-left: 10px;
}